.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.header {
  box-sizing: border-box;
  margin: 20px 10%;
  font-size: 0;
  font-family: sans-serif;
}

.logo {
  width: 10%;
  border: none;
  margin-top: 5px;
}

.logo > img {
  height: 100%;
}

.navbar {
  text-align: center;
  width: 70%;
}

.navbar li {
display: inline-block;
margin: auto 20px;
}

.navbar li a {
  text-decoration: none;
  color: #025157;
}

.actions {
  width: 20%;
  font-size: 14px;
}

.actions > * {
  margin: auto 5px;
  font-size: 16px;
}

.actions a {
  color:  #025157;
  text-decoration: none;
}

.actions a:hover{
  text-decoration-line: underline;
}

.actions button:hover {
  background-color: #67b54b;
}

.actions button {
  background-color: #025157;
  color:white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
}

.main {
  text-align: center;
}

.container-principal {
  display: grid;
  grid-template: 2fr 3fr;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 11%;
  color: #025157;
  font-size: 68px;
  font-weight: bold;
  text-align: left;
}

.container-leyenda {
  display: block;
  text-align: left;
  width: 45%;
  font-size: 20px;
  color: #46484c;
}

.actions2 {
  display: flex;
  width: 15%;
  font-weight: 600;
  font-size: 14px;
  justify-content: space-between;
  white-space: nowrap;
}

.actions2 button {
  color: white;
  background-color: #67b54b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto 10px;
}

.container-video {
  display: flex;
  position: absolute;
  top: 45%;
  left: 60%;
  width: 50%;
}

.container-marcas h2{
  font-weight: lighter;
  font-size: 15px;
  color: gray;
}

.container-marcas div{
  display: flex;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 300px;
}

.container-marcas div > *{
  margin: auto 20px;
  margin-top: 15px;
  height: 50px;
  max-width: 200px;
}

.container-main-features h2{
  color: #025157;
  font-size: 55px;
  margin-bottom: 3px;
  padding-bottom: 0;
}

.container-main-features p{
  padding-top: 0;
  margin-top: 0;
}

.container-features {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-content: center;
}

.container-features article{
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  width: 30%;
  padding: 10px;
}

.container-features article img {
  width: 400px;
  height: 300px;
}

.imagen-feature-1:hover{
  transform: scale(1.03) rotate(.3deg);
}

.imagen-feature-2:hover{
  transform: scale(1.03) rotate(.3deg);
}

.imagen-feature-3:hover{
  transform: scale(1.03) rotate(.3deg);
}

@media (max-width: 575px) {
  .navbar,
  .actions {
    display: none;
  }
  
  main {
      margin-top: 130px;
  }
  
  h1 {
      font-size: 30px;
  }
}